[submodule "UTILITIES/ben_eqoa_c_server"]
	path = UTILITIES/ben_eqoa_c_server
	url = https://github.com/benturi/ben_eqoa_c_server.git
[submodule "UTILITIES/EQOA_Addons"]
	path = UTILITIES/EQOA_Addons
	url = https://github.com/rosyfiles/EQOA_Addons.git
[submodule "UTILITIES/EQOA_Creator"]
	path = UTILITIES/EQOA_Creator
	url = https://github.com/devin103/EQOA_Creator.git
[submodule "UTILITIES/EQOA-Data"]
	path = UTILITIES/EQOA-Data
	url = https://github.com/Jadiction/EQOA-Data.git
[submodule "UTILITIES/eqoa-esf-tools"]
	path = UTILITIES/eqoa-esf-tools
	url = https://github.com/DabDavis/eqoa-esf-tools.git
[submodule "UTILITIES/EQOA-Frontiers-ISO-Patch"]
	path = UTILITIES/EQOA-Frontiers-ISO-Patch
	url = https://github.com/devin103/EQOA-Frontiers-ISO-Patch.git
[submodule "UTILITIES/EQOA-Prototype-Server"]
	path = UTILITIES/EQOA-Prototype-Server
	url = https://github.com/devin103/EQOA-Prototype-Server.git
[submodule "UTILITIES/EQOA-Ranix"]
	path = UTILITIES/EQOA-Ranix
	url = https://github.com/userrnx/EQOA-Ranix.git
[submodule "UTILITIES/EQOA-server"]
	path = UTILITIES/EQOA-server
	url = https://github.com/joukop/EQOA-server.git
[submodule "UTILITIES/eqoa.github.io"]
	path = UTILITIES/eqoa.github.io
	url = https://github.com/eqoa/eqoa.github.io.git
[submodule "UTILITIES/EQOAGameServer"]
	path = UTILITIES/EQOAGameServer
	url = https://github.com/EQOAReturnHome/EQOAGameServer.git
[submodule "UTILITIES/eqoazyc-api"]
	path = UTILITIES/eqoazyc-api
	url = https://github.com/Dexr1te/eqoazyc-api.git
[submodule "UTILITIES/Hagley"]
	path = UTILITIES/Hagley
	url = https://github.com/Faxonation2/Hagley.git
[submodule "UTILITIES/Kairen"]
	path = UTILITIES/Kairen
	url = https://github.com/Randall-Adams/Kairen.git
[submodule "UTILITIES/OpenEQOA"]
	path = UTILITIES/OpenEQOA
	url = https://github.com/unenergizer/OpenEQOA.git
[submodule "UTILITIES/tech-eqoakv"]
	path = UTILITIES/tech-eqoakv
	url = https://github.com/trevormorg/tech-eqoakv.git
[submodule "UTILITIES/eqoa"]
	path = UTILITIES/eqoa
	url = https://github.com/skulkingfox/eqoa.git
[submodule "UTILITIES/eqoa-pipeline"]
	path = UTILITIES/eqoa-pipeline
	url = https://github.com/DabDavis/eqoa-pipeline.git
[submodule "UTILITIES/ESF-file-format"]
	path = UTILITIES/ESF-file-format
	url = https://github.com/joukop/ESF-file-format.git
