__pycache__/
*.py[cod]
.venv/
venv/

*.log
diagnostics/logs/

*.iso
*.zip
*.rar

workspace/original/
workspace/expansion/
workspace/payloads/
workspace/scratch/__pycache__/
workspace/*.ESF
workspace/*.CSF

assets/merged-assets/
LIGHTWEIGHT_CUSTOMER_DELIVERY/